[Desktop Entry]
Name=Bless
Comment=Hex Editor
Comment[pl]=Edytor szesnastkowy
Exec=bless
Terminal=false
Type=Application
Categories=GTK;TextEditor;X-HexEditor;
